main{display: flex;}
ul{list-style-image: url("Done_ring_round_fill.svg");}
section{
    display: flex;
    flex-direction: column;
    
    
}
.clasificacion{
    display: flex;
    align-items: center;
}
article{
    width: 40%;
    background-color: blueviolet;
}